.hourly {
  display: flex;
  align-items: flex-end;
  height: 100px;

  .bar {
    width: 30px;
    margin: 0 2px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(90deg, rgb(4, 0, 255) 0%, rgb(30, 252, 1) 25%, rgb(255, 251, 0) 50%, rgb(255, 0, 0) 75%);
    background-size: 10000px 10000px;

    span {
      font-weight: bold;
      font-size: 0.8em;
      color: white;
      text-shadow: 0 0 3px black;
    }

    .hour {
      position: absolute;
      bottom: -25px;
    }
  }
}

.temperature {
  color:rgb(255, 251, 2);
}