table, th, td {
  width: 100%;
  border: 1px solid gray;
}

td {
  width: 25%;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

.calc_button {
  width: 100%;
  geight: 100%;
  margin: 0;
  padding: 0;
}

#display {
  width: 96%;
}

#floating_container {
  width: 90%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

  border: 3px inset #eeeeee;
  padding: 3px;
}

#calculator_container {
  width: 25%;
  float: left;
  display: inline-block;
}

#output_container {
  width: 65%;
  float: right;
  display: inline-block;
}

.blocks {
  margin: 10px;
  height: 100%;
  border: 2px solid gray;
}
